{% extends "layouts/default.njk" %}

{% block content %}
<div class="mt-20">
    {% include "partials/producto-alojamiento.njk" %}
    {% include "partials/producto-alojamiento.njk" %}
    {% include "partials/producto-alojamiento.njk" %}
    {% include "partials/producto-alojamiento.njk" %}
    {% include "partials/producto-alojamiento.njk" %}
</div>
{% endblock %}