{% extends "layouts/default.njk" %}

{% block content %}
{% include "partials/menu-busqueda-alojamiento-vuelo.njk" %}
<div class="mt-20">
    {% include "partials/producto-vuelo.njk" %}
    {% include "partials/producto-vuelo.njk" %}
    {% include "partials/producto-vuelo.njk" %}
    {% include "partials/producto-vuelo.njk" %}
    {% include "partials/producto-vuelo.njk" %}
</div>
{% endblock %}