{% extends "layouts/default.njk" %}

{% block content %}
{% include "partials/menu-busqueda-vuelos.njk" %}
{% include "partials/recomendaciones.njk" %}
{% include "partials/otros-destinos.njk" %}
{% endblock %}


    
