{% extends "layouts/default.njk" %}

{% block content %}
<div class="container mt-20 flex">
    <div class="w-2/12"></div>
    <div class="w-8/12">
        <img src="/images/paypal.png" alt="">
        <p class="font-bold">Correo electronico de su PayPal</p>
        <input class="mt-2 p-1 rounded-lg w-96" type="text">
        <p class="font-bold mt-5">Nº de telefono</p>
        <input class="mt-2 p-1 rounded-lg w-96" type="text">
        <p class="mt-10 font-bold text-xl">Cantidad a pagar x €</p>
        <button class="bg-sky-700 p-1 rounded-lg mt-5 text-white w-60">Confirmar</button>
    </div>
    <div class="w-2/12"></div>
</div> 
{% endblock %}
