{% from "macros/recomendaciones.njk" import recomendaciones %}
{% from "macros/otros-destinos.njk" import otrosDestinos %}
{% from "macros/ofertas-viaje-alojamiento.njk" import ofertasViajealojamiento %}
{% from "macros/recomendaciones-vuelo.njk" import recomendacionesVuelo %}
{% from "macros/alojamiento.njk" import alojamiento %}
{% from "macros/ficha-producto-alojamiento.njk" import fichaAlojamiento %}
{% from "macros/vuelos.njk" import vuelos %}

{% macro recomedacionesSlider(recomendaciones) %}
<div class="container">
    <div class="block mt-20">
        <h2 class="text-center font-bold text-2xl">RECOMENDACIONES</h2>
        <div class="flex justify-around mt-10">
            {% for recomendacion in recomendaciones %}
                {{recomendaciones(recomendacion.imagen, recomendacion.nombreAlojamiento, recomendacion.ciudadProvincia, recomendacion.precio)}}
            {% endfor %}
        </div>
    </div>
</div>
{% endmacro %}

<div class="container">
    <div class="block mt-24">
        <h2 class="text-center font-bold text-2xl">OTROS DESTINOS</h2>
        {% macro otrosdestinosUP(otrosDestinos) %}
            <div class="flex mx-80 justify-around mt-8">
                {% for otroDestino in otrosDestinos %}
                    {{otrosDestinos(otroDestino.imagen, otroDestino.ciudad, otroDestino.banderaPais)}}
                {% endfor %}
            </div>
        {% endmacro %}
        {% macro otrosdestinosDAWN(otrosDestinos) %}
            <div class="flex mx-32 justify-around mt-8">
                {% for otroDestino in otrosDestinos %}
                    {{otrosDestinos(otroDestino.imagen, otroDestino.ciudad, otroDestino.banderaPais)}}
                {% endfor %}
            </div>
        {% endmacro %}
    </div>
</div>

{% macro ofertasViajealojamientoSlider(ofertas) %}
<div class="container mt-20">
    <h2 class="font-bold text-2xl text-center">OFERTAS VIAJE + ALOJAMIENTO</h2>
    <div class="flex justify-between mt-5">
        {% for oferta in ofertas %}
            {{ofertasViajealojamiento(oferta.imagen, oferta.ciudad, oferta.alojamiento, oferta.estrella1, oferta.estrella2, oferta.estrella3, oferta.estrella4, oferta.estrella5, oferta.origen, oferta.dias, oferta.noches, oferta.incluye, oferta.precio, oferta.producto)}}
        {% endfor %}
    </div>
</div>
{% endmacro %}

{% macro recomendacionesVuelosSlider(recomendaciones) %}
<div class="container mt-20">
    <h2 class="font-bold text-2xl text-center">RECOMENDACIONES DE VUELOS</h2>
    <div class="flex justify-between mt-5">
        {% for recomendacion in recomendaciones %}
            {{recomendacionesVuelo(recomendacion.producto, recomendacion.imagen, recomendacion.ciudad, recomendacion.bandera, recomendacion.precio)}}
        {% endfor %}
    </div>  
</div>
{% endmacro %}

{% macro alojamientoSlider(alojamientos) %}
<div class="container flex">
    <div class="w-1/12"></div>
    {% for alojamiento in alojamientos %}
        {{alojamiento(alojamiento.imagen, alojamiento.alojamiento, alojamiento.ubicacion, alojamiento.incluye, alojamiento.web, alojamiento.adultos, alojamiento.noches, alojamiento.precio, alojamiento.producto)}}
    {% endfor %}
    <div class="w-1/12"></div>
</div>
{% endmacro %}

{% macro fichaAlojamientoSlider(fichasalojamientos) %}
<div class="container flex">
    <div class="w-1/12"></div>
    {% for fichaalojamiento in fichasalojamientos %}
        {{fichaAlojamiento(fichaalojamiento.imagen, fichaalojamiento.imagen1, fichaalojamiento.imagen2, fichaalojamiento.imagen3, fichaalojamiento.alojamiento, fichaalojamiento.ubicacion, fichaalojamiento.adultos, fichaalojamiento.noches, fichaalojamiento.ofertaPersonas, fichaalojamiento.tipoAlojamiento, fichaalojamiento.personas, fichaalojamiento.camas, fichaalojamiento.precio, fichaalojamiento.web)}}
    {% endfor %}
    <div class="w-1/12"></div>
</div>
{% endmacro %}

{% macro vuelosSlider(vuelos) %}
<div class="mt-5 container flex">
    <div class="w-1/12"></div>
    {% for vuelo in vuelos %}
        {{vuelos(vuelo.imagenCompañiaIda, vuelo.horaSalidaIda, vuelo.origenIda, vuelo.fechaSalidaIda, vuelo.tiempoIda, vuelo.directoIda, vuelo.horaLlegadaIda, vuelo.destinoIda, vuelo.fechaLlegadaIda, vuelo.imagenCompañiaVuelta, vuelo.horaSalidaVuelta, vuelo.origenVuelta, vuelo.fechaSalidaVuelta, vuelo.tiempoVuelta, vuelo.directoVuelta, vuelo.horaLlegadaVuelta, vuelo.destinoVuelta, vuelo.fechaLlegadaVuelta, vuelo.precio, vuelo.producto)}}
    {% endfor %}
    <div class="w-1/12"></div>
</div>
{% endmacro %}