<div class="container mt-20">
    <div class="flex">
        <div class="w-2/12"></div>
        <div class="w-8/12 flex justify-between">
            <div>
                <p class="font-bold text-xl">¿Quién reserva?</p>
                <div>
                    <div class="mt-2">
                        <p>Nombre</p>
                        <input class="mt-1 p-1 rounded-lg w-96" type="text">
                    </div>
                    <div class="mt-2">
                        <p>Apellidos</p>
                        <input class="mt-1 p-1 rounded-lg w-96" type="text">
                    </div>
                    <div class="mt-2">
                        <p>Email</p>
                        <input class="mt-1 p-1 rounded-lg w-96" type="text">
                    </div>
                    <div class="mt-2">
                        <p>Nº Teléfono</p>
                        <input class="mt-1 p-1 rounded-lg" type="text">
                    </div>
                </div>
                <div class="mt-10">
                    <p class="font-bold text-xl">¿Quién viaja?</p>
                    <p class="mt-2">2 pasajeros</p>
                    <p class="mt-2 font-bold">Pasajero 1</p>
                    <div class="mt-2">
                        <p>Nombre</p>
                        <input class="mt-1 p-1 rounded-lg w-96" type="text">
                    </div>
                    <div class="mt-2">
                        <p>Apellidos</p>
                        <input class="mt-1 p-1 rounded-lg w-96" type="text">
                    </div>
                    <div class="mt-2">
                        <p>Fecha de nacimiento</p>
                        <input class="mt-1 p-1 rounded-lg" type="date">
                    </div>
                    <p class="mt-5 font-bold">Pasajero 2</p>
                    <div class="mt-2">
                        <p>Nombre</p>
                        <input class="mt-1 p-1 rounded-lg w-96" type="text">
                    </div>
                    <div class="mt-2">
                        <p>Apellidos</p>
                        <input class="mt-1 p-1 rounded-lg w-96" type="text">
                    </div>
                    <div class="mt-2">
                        <p>Fecha de nacimiento</p>
                        <input class="mt-1 p-1 rounded-lg" type="date">
                    </div>
                </div>
            </div>
            <div class="flex">
                <div>
                    <p class="font-bold text-xl">Detalles de la reserva</p>
                    <p class="font-bold mt-5 text-lg">Alojamiento</p>
                    <p  class="mt-2">Nombre del Hotel</p>
                    <div class="flex mt-2">
                        <img class="w-5 h-5" src="/images/star.png" alt="">
                        <img class="w-5 h-5" src="/images/star.png" alt="">
                        <img class="w-5 h-5" src="/images/star.png" alt="">
                        <img class="w-5 h-5" src="/images/star.png" alt="">
                        <img class="w-5 h-5" src="/images/star-vacia.png" alt="">
                    </div>
                    <p class="mt-2">sáb 25 feb - mar 28 feb</p>
                    <p class="mt-2">Dirección hotel c/silos nº 27 b</p>
                    <div class="mt-5 ml-10">
                        <p>Nº noches</p>
                        <p>Nº personas</p>
                    </div>
                    <p class="font-bold mt-5 text-lg">Vuelo</p>
                    <p class="mt-2">De Sevilla a Londres</p>
                    <p class="mt-2">sab 25 feb - mar 28 feb</p>
                    <a href="" class="mt-2 underline">ver detalles</a>
                    <div class="mt-10 font-bold text-xl flex justify-between">
                        <span>Precio total</span>
                        <span>209 €</span>
                    </div>
                    <button class="bg-sky-700 rounded-lg p-1 text-white mt-3">
                        <a href="/pagos">Pagar ahora</a>
                    </button>
                </div>
            </div>
        </div>
        <div class="w-2/12"></div>
    </div>
</div>