<div class="container mt-20 flex">
    <div class="border-2 border-gray-500 p-2 w-4/12 text-center bg-white text-sky-700 font-bold text-xl">
        <a href="/reservar-alojamiento-vuelo">Buscar hotel</a>
    </div>
    <div class="border-2 border-gray-500 border-l-0 p-2 w-4/12 text-center bg-white text-sky-700 font-bold text-xl">
        <a href="/buscar-vuelo">Buscar vuelo</a>
    </div>
    <div class="border-2 border-gray-500 border-l-0 p-2 w-4/12 text-center bg-white text-sky-700 font-bold text-xl">
        <a href="/presupuesto-total">Presupuesto</a>
    </div>
</div>