<section class="bg-violet-400 mt-20 p-20 border-4 border-x-0 border-b-0 border-black">
    <div class="container">
        <div class="flex justify-around">
            <div class="flex">
                <span class="font-bold mt-2">Siguenos en nuestras redes</span>
                <a href="https://www.instagram.com/">
                    <img class="w-10 ml-10" src="/images/instagram.png" alt="">
                </a>
                <a href="https://es-es.facebook.com/">
                    <img class="w-10 ml-5" src="/images/facebook.png" alt="">
                </a>
                <a href="https://twitter.com/?lang=es">
                    <img class="w-10 ml-5" src="/images/tw.png" alt="">
                </a>
            </div>
            <div class="flex">
                <span class="font-bold mt-2">Contacta con nosotros</span>
                <a href="">
                    <img class="w-10 ml-10" src="/images/gmail.png" alt="">
                </a>
                <div class="flex">
                    <img class="w-10 ml-5" src="/images/telefono.png" alt="">
                    <span class="font-bold ml-5 mt-2">xxx xxx xxx</span>
                </div>
            </div>
        </div>
        <div class="block mt-20">
            <p class="font-bold text-center text-xl">S1mTravel</p>
            <div class="flex mt-3 justify-center">
                <a href="">
                    <p>Quiénes somos</p>
                </a>
                <a href="">
                    <p class="ml-10">Qué buscamos</p>
                </a>
                <a href="">
                    <p class="ml-10">Códigos descuentos</p>
                </a>
                <a href="">
                    <p class="ml-10">Mapa web</p>
                </a>
                <a href="">
                    <p class="ml-10">Publicidad</p>
                </a>
            </div>
        </div>
        <div class="block mt-20">
            <div class="flex justify-center">
                {% include "partials/logo-n.njk" %}
            </div>
            <div class="flex mt-14 justify-center">
                <a href="">
                    <p class="underline">Términos y condiciones generales</p>
                </a>
                <a href="">
                    <p class="ml-20 underline">Uso de cookies</p>
                </a>
                <a href="">
                    <p class="ml-20 underline">Política de privacidad</p>
                </a>
            </div>
        </div>
    </div>
</section>