<div class="container">
    <div class="flex justify-center">
        <nav class="flex border-sky-700 border-solid border-2 rounded-lg w-fit mt-20 text-lg">
            <div class="">
                <input type="search" placeholder="Desde dónde?" class="w-40 text-center rounded-l-lg p-2 h-12"></input>
            </div>
            <div class="border-sky-700 border-solid border-2 border-y-0">
                <input type="search" placeholder="Destino" class="w-40 text-center p-2 h-12"></input>
            </div>
            <div class="border-sky-700 border-solid border-2 border-y-0 border-l-0">
                <input type="date" class="w-40 p-2 h-12"></input>
            </div>
            <div class="">
                <input type="date" class="w-40 rounded-r-lg p-2 h-12"></input>
            </div>
        </nav>
    </div>
</div>