<div class="flex ml-40 mt-8 text-center h-fit justify-around w-1/2 font-bold">
    <a href="/">
        <div class="border-sky-700 border-solid border-4 w-60 ml-5 p-2 border-x-0 border-t-0">
            <span>Alojamiento</span>
        </div>
    </a>
    <a href="/vuelos">
        <div class="border-sky-700 border-solid border-4 w-60 ml-5 p-2 border-x-0 border-t-0">
            <span>Vuelos</span>
        </div>
    </a>
    <a href="/alojamiento-mas-vuelo">
        <div class="border-sky-700 border-solid border-4 w-60 ml-5 p-2 border-x-0 border-t-0">
            <span>Alojamiento + Vuelo</span>
        </div>
    </a>
</div>