<div class="container">
    <div class="block mt-24">
        <h2 class="text-center font-bold text-2xl">OTROS DESTINOS</h2>
        <div class="flex mx-80 justify-around mt-8">
            <a href="" class="w-2/5">
                <img src="/images/madrid.png" alt="">
                <p class="font-bold mt-2">Madrid 🇪🇸</p>
            </a>
            <a href="" class="w-2/5">
                <img src="/images/barcelona.png" alt="">
                <p class="font-bold mt-2">Barcelona 🇪🇸</p>
            </a>
        </div>
        <div class="flex mx-10 justify-around mt-8">
            <a href="" class="w-96">
                <img src="/images/paris.png" alt="">
                <p class="font-bold mt-2">Paris 🇫🇷</p>
            </a>
            <a href="" class="w-96">
                <img src="/images/roma.png" alt="">
                <p class="font-bold mt-2">Roma 🇮🇹</p>
            </a>
            <a href="" class="w-96">
                <img src="/images/londres.png" alt="">
                <p class="font-bold mt-2">Londres 🇬🇧</p>
            </a>
        </div>
    </div>
</div>