<div class="container mt-20">
    <h2 class="font-bold text-2xl text-center">OFERTAS VIAJE + ALOJAMIENTO</h2>
    <div class="flex justify-between mt-5">
        <div class="border-2 border-gray-500 w-72 h-[450px] bg-white">
            <img src="/images/ejemplo.jpg" alt="">
            <div class="p-4">
                <p class="font-bold">Londres</p>
                <p class="text-sm">Hampton By Hilton London Park Royal</p>
                <div class="flex mt-1">
                    <img src="/images/star.png" class="w-5 h-5" alt="">
                    <img src="/images/star.png" class="w-5 h-5" alt="">
                    <img src="/images/star.png" class="w-5 h-5" alt="">
                    <img src="/images/star.png" class="w-5 h-5" alt="">
                    <img src="/images/star-vacia.png" class="w-5 h-5" alt="">
                </div>
                <p class="text-sm mt-1">Vuelos desde Sevilla</p>
                <p class="text-sm">4 días / 3 noches</p>
                <p class="text-sm">Alojamiento y desayuno</p>
                <div class="flex justify-between mt-10">
                    <p class="font-bold text-sky-700 text-xl mt-1">Desde 209 €</p>
                    <button class=" bg-sky-700 text-white p-1 w-16 rounded-lg">
                        <a href="/reservar-alojamiento-vuelo">Ver</a>
                    </button>
                </div>
            </div>
        </div>
        <div class="border-2 border-gray-500 w-72 h-[450px] bg-white">
            <img src="/images/ejemplo.jpg" alt="">
            <div class="p-4">
                <p class="font-bold">Londres</p>
                <p class="text-sm">Hampton By Hilton London Park Royal</p>
                <div class="flex mt-1">
                    <img src="/images/star.png" class="w-5 h-5" alt="">
                    <img src="/images/star.png" class="w-5 h-5" alt="">
                    <img src="/images/star.png" class="w-5 h-5" alt="">
                    <img src="/images/star.png" class="w-5 h-5" alt="">
                    <img src="/images/star-vacia.png" class="w-5 h-5" alt="">
                </div>
                <p class="text-sm mt-1">Vuelos desde Sevilla</p>
                <p class="text-sm">4 días / 3 noches</p>
                <p class="text-sm">Alojamiento y desayuno</p>
                <div class="flex justify-between mt-10">
                    <p class="font-bold text-sky-700 text-xl mt-1">Desde 209 €</p>
                    <button class=" bg-sky-700 text-white p-1 w-16 rounded-lg">
                        <a href="">Ver</a>
                    </button>
                </div>
            </div>
        </div>
        <div class="border-2 border-gray-500 w-72 h-[450px] bg-white">
            <img src="/images/ejemplo.jpg" alt="">
            <div class="p-4">
                <p class="font-bold">Londres</p>
                <p class="text-sm">Hampton By Hilton London Park Royal</p>
                <div class="flex mt-1">
                    <img src="/images/star.png" class="w-5 h-5" alt="">
                    <img src="/images/star.png" class="w-5 h-5" alt="">
                    <img src="/images/star.png" class="w-5 h-5" alt="">
                    <img src="/images/star.png" class="w-5 h-5" alt="">
                    <img src="/images/star-vacia.png" class="w-5 h-5" alt="">
                </div>
                <p class="text-sm mt-1">Vuelos desde Sevilla</p>
                <p class="text-sm">4 días / 3 noches</p>
                <p class="text-sm">Alojamiento y desayuno</p>
                <div class="flex justify-between mt-10">
                    <p class="font-bold text-sky-700 text-xl mt-1">Desde 209 €</p>
                    <button class=" bg-sky-700 text-white p-1 w-16 rounded-lg">
                        <a href="">Ver</a>
                    </button>
                </div>
            </div>
        </div>
        <div class="border-2 border-gray-500 w-72 h-[450px] bg-white">
            <img src="/images/ejemplo.jpg" alt="">
            <div class="p-4">
                <p class="font-bold">Londres</p>
                <p class="text-sm">Hampton By Hilton London Park Royal</p>
                <div class="flex mt-1">
                    <img src="/images/star.png" class="w-5 h-5" alt="">
                    <img src="/images/star.png" class="w-5 h-5" alt="">
                    <img src="/images/star.png" class="w-5 h-5" alt="">
                    <img src="/images/star.png" class="w-5 h-5" alt="">
                    <img src="/images/star-vacia.png" class="w-5 h-5" alt="">
                </div>
                <p class="text-sm mt-1">Vuelos desde Sevilla</p>
                <p class="text-sm">4 días / 3 noches</p>
                <p class="text-sm">Alojamiento y desayuno</p>
                <div class="flex justify-between mt-10">
                    <p class="font-bold text-sky-700 text-xl mt-1">Desde 209 €</p>
                    <button class=" bg-sky-700 text-white p-1 w-16 rounded-lg">
                        <a href="">Ver</a>
                    </button>
                </div>
            </div>
        </div>
        <div class="border-2 border-gray-500 w-72 h-[450px] bg-white">
            <img src="/images/ejemplo.jpg" alt="">
            <div class="p-4">
                <p class="font-bold">Londres</p>
                <p class="text-sm">Hampton By Hilton London Park Royal</p>
                <div class="flex mt-1">
                    <img src="/images/star.png" class="w-5 h-5" alt="">
                    <img src="/images/star.png" class="w-5 h-5" alt="">
                    <img src="/images/star.png" class="w-5 h-5" alt="">
                    <img src="/images/star.png" class="w-5 h-5" alt="">
                    <img src="/images/star-vacia.png" class="w-5 h-5" alt="">
                </div>
                <p class="text-sm mt-1">Vuelos desde Sevilla</p>
                <p class="text-sm">4 días / 3 noches</p>
                <p class="text-sm">Alojamiento y desayuno</p>
                <div class="flex justify-between mt-10">
                    <p class="font-bold text-sky-700 text-xl mt-1">Desde 209 €</p>
                    <button class=" bg-sky-700 text-white p-1 w-16 rounded-lg">
                        <a href="">Ver</a>
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>