<div class="mt-5 container flex">
    <div class="w-1/12"></div>
    <div class="w-7/12 border-2 border-gray-500 p-5 bg-white">
        <div class="flex justify-between mx-5">
            <img src="/images/vueling.jpg" class="rounded-full w-20" alt="">
            <div class="mt-4">
                <p class="font-bold text-xl">10:15</p>
                <p>SVQ 25 feb</p>
            </div>
            <div class="mt-1 text-center">
                <p>1 h 40 min</p>
                <p>---------------------</p>
                <p>Directo</p>
            </div>
            <div class="mt-4">
                <p class="font-bold text-xl">11:55</p>
                <p>BCN 25 feb</p>
            </div>
        </div>
        <div class="flex justify-between mx-5 mt-10">
            <img src="/images/vueling.jpg" class="rounded-full w-20" alt="">
            <div class="mt-4">
                <p class="font-bold text-xl">15:15</p>
                <p>BCN 28 feb</p>
            </div>
            <div class="mt-1 text-center">
                <p>1 h 45 min</p>
                <p>---------------------</p>
                <p>Directo</p>
            </div>
            <div class="mt-4">
                <p class="font-bold text-xl">17:00</p>
                <p>SVQ 28 feb</p>
            </div>
        </div>
    </div>
    <div class="w-3/12 border-2 border-gray-500 border-l-0 p-5 bg-white">
        <div class="mx-4">
            <div class="flex justify-between mt-4">
                <img src="/images/mochila.png" alt="">
                <span>Incluido accesorio personal</span>
            </div>
            <p class="text-2xl font-bold mt-5">128,99 €</p>
            <p class="text-xs mt-5">Precio para todos los pasajeros</p>
            <button class="p-2 bg-sky-700 rounded-lg mt-5">
                <a href="/reservar-vuelo" class="text-white">Ver vuelo</a>
            </button>
        </div>
    </div>
    <div class="w-1/12"></div>
</div>