<div class="container">
    <div class="block mt-20">
        <h2 class="text-center font-bold text-2xl">RECOMENDACIONES</h2>
        <div class="flex justify-around mt-8">
            <a href="/alojamientos" class="w-96">
                <img src="/images/ejemplo.jpg" alt="">
                <div class="mt-2">
                    <p class="font-bold text-base">Nombre alojamiento</p>
                    <p class="text-sm">Ciudad, provincia</p>
                    <p class="text-sm">Desde (Precio min) €</p>
                </div>
            </a>
            <a href="" class="w-96">
                <img src="/images/ejemplo.jpg" alt="">
                <div class="mt-2">
                    <p class="font-bold text-base">Nombre alojamiento</p>
                    <p class="text-sm">Ciudad, provincia</p>
                    <p class="text-sm">Desde (Precio min) €</p>
                </div>
            </a>
            <a href="" class="w-96">
                <img src="/images/ejemplo.jpg" alt="">
                <div class="mt-2">
                    <p class="font-bold text-base">Nombre alojamiento</p>
                    <p class="text-sm">Ciudad, provincia</p>
                    <p class="text-sm">Desde (Precio min) €</p>
                </div>
            </a>
        </div>    
        <div class="flex justify-around mt-10">
            <a href="" class="w-96">
                <img src="/images/ejemplo.jpg" alt="">
                <div class="mt-2">
                    <p class="font-bold text-base">Nombre alojamiento</p>
                    <p class="text-sm">Ciudad, provincia</p>
                    <p class="text-sm">Desde (Precio min) €</p>
                </div>
            </a>
            <a href="" class="w-96">
                <img src="/images/ejemplo.jpg" alt="">
                <div class="mt-2">
                    <p class="font-bold text-base">Nombre alojamiento</p>
                    <p class="text-sm">Ciudad, provincia</p>
                    <p class="text-sm">Desde (Precio min) €</p>
                </div>
            </a>
            <a href="" class="w-96">
                <img src="/images/ejemplo.jpg" alt="">
                <div class="mt-2">
                    <p class="font-bold text-base">Nombre alojamiento</p>
                    <p class="text-sm">Ciudad, provincia</p>
                    <p class="text-sm">Desde (Precio min) €</p>
                </div>
            </a>
        </div>
        <div class="flex justify-around mt-10">
            <a href="" class="w-96">
                <img src="/images/ejemplo.jpg" alt="">
                <div class="mt-2">
                    <p class="font-bold text-base">Nombre alojamiento</p>
                    <p class="text-sm">Ciudad, provincia</p>
                    <p class="text-sm">Desde (Precio min) €</p>
                </div>
            </a>
            <a href="" class="w-96">
                <img src="/images/ejemplo.jpg" alt="">
                <div class="mt-2">
                    <p class="font-bold text-base">Nombre alojamiento</p>
                    <p class="text-sm">Ciudad, provincia</p>
                    <p class="text-sm">Desde (Precio min) €</p>
                </div>
            </a>
            <a href="" class="w-96">
                <img src="/images/ejemplo.jpg" alt="">
                <div class="mt-2">
                    <p class="font-bold text-base">Nombre alojamiento</p>
                    <p class="text-sm">Ciudad, provincia</p>
                    <p class="text-sm">Desde (Precio min) €</p>
                </div>
            </a>
        </div>
    </div>
</div>