<div class="container">
    <div class="block mt-20">
        <h2 class="text-center font-bold text-2xl">RECOMENDACIONES</h2>
        <div class="flex justify-around mt-10">
            <a href="/alojamientos" class="w-96">
                <img src="/images/hotel-abetos-del-maestre-escuela.png" alt="">
                <div class="mt-2">
                    <p class="font-bold text-base">Hotel Abetos del Maestre Escuela</p>
                    <p class="text-sm">Cordoba 🇪🇸</p>
                    <p class="text-sm font-bold">Desde 146 €</p>
                </div>
            </a>
            <a href="" class="w-96">
                <img src="/images/hotel-cibeles-playa.png" alt="">
                <div class="mt-2">
                    <p class="font-bold text-base">Hotel Cibeles Playa</p>
                    <p class="text-sm">Gandía, Valencia 🇪🇸</p>
                    <p class="text-sm font-bold">Desde 122 €</p>
                </div>
            </a>
            <a href="" class="w-96">
                <img src="/images/Axel-Hotel-Madrid.png" alt="">
                <div class="mt-2">
                    <p class="font-bold text-base">Axel Hotel Madrid</p>
                    <p class="text-sm">Madrid 🇪🇸</p>
                    <p class="text-sm font-bold">Desde 178 €</p>
                </div>
            </a>
        </div>    
        <div class="flex justify-around mt-10">
            <a href="" class="w-96">
                <img src="/images/Motel-One-Barcelona-Ciutadella.png" alt="">
                <div class="mt-2">
                    <p class="font-bold text-base">Motel One Barcelona-Ciutadella</p>
                    <p class="text-sm">Sant Martí, Barcelona 🇪🇸</p>
                    <p class="text-sm font-bold">Desde 155 €</p>
                </div>
            </a>
            <a href="" class="w-96">
                <img src="/images/Hilton-Garden-Inn-Sevilla.png" alt="">
                <div class="mt-2">
                    <p class="font-bold text-base">Hilton Garden Inn Sevilla</p>
                    <p class="text-sm">Sevilla 🇪🇸</p>
                    <p class="text-sm font-bold">Desde 118 €</p>
                </div>
            </a>
            <a href="" class="w-96">
                <img src="/images/Holiday-Inn-Express-Málaga-Airport-an-IHG-Hotel.png" alt="">
                <div class="mt-2">
                    <p class="font-bold text-base">Holiday Inn Express Málaga Hotel</p>
                    <p class="text-sm">Churriana, Málaga 🇪🇸</p>
                    <p class="text-sm font-bold">Desde 75 €</p>
                </div>
            </a>
        </div>
        <div class="flex justify-around mt-10">
            <a href="" class="w-96">
                <img src="/images/Sonder-Atala-Champs-Élysées.png" alt="">
                <div class="mt-2">
                    <p class="font-bold text-base">Sonder Atala Champs-Élysées</p>
                    <p class="text-sm">Campos Elíseos, París 🇫🇷</p>
                    <p class="text-sm font-bold">Desde 430 €</p>
                </div>
            </a>
            <a href="" class="w-96">
                <img src="/images/La-Griffe-Roma.png" alt="">
                <div class="mt-2">
                    <p class="font-bold text-base">La Griffe Roma</p>
                    <p class="text-sm">Roma 🇮🇹</p>
                    <p class="text-sm font-bold">Desde 260 €</p>
                </div>
            </a>
            <a href="" class="w-96">
                <img src="/images/Phoenix-Hotel.png" alt="">
                <div class="mt-2">
                    <p class="font-bold text-base">Phoenix Hotel</p>
                    <p class="text-sm">Londres 🇬🇧</p>
                    <p class="text-sm font-bold">Desde 103 €</p>
                </div>
            </a>
        </div>
    </div>
</div>