{% macro otrosDestinos(imagen, ciudad, banderaPais) %}
<a href="" class="w-2/5">
    <img src="{{ imagen }}" alt="">
    <p class="font-bold mt-2">{{ ciudad }} {{ banderaPais }}</p>
</a>
{% endmacro %}